src/test/resources/ys/succinct/xml/resource/books.dtd

<!ELEMENT catalog (book*)>
<!ELEMENT book (author,title,genre,price,publish_date,description,markup?)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT publish_date (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT markup (#PCDATA)>
<!ATTLIST book id CDATA #REQUIRED>

<!ENTITY CMP "Computer">